@charset "UTF-8";


#header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*position: fixed;*/
  left: 0;
  right: 0;
  z-index: 10;
}




body {
  color: #333;
  font-size: 0.875rem;
  min-height: 100vh;
  position: relative;
}

a {
  color: #333;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  opacity: 0.7;
}


li {
  list-style: none;
}


/*コンテンツの幅*/

.wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}

.content {
  padding-top: 90px;
  /*padding-bottom: 100px;*/
}

.site-title {
  font-family: "norman-variable", sans-serif;
  font-variation-settings: 'wght' 400;
  font-size: 2.5rem;
  color: #333;
  text-align: left;
  margin: 20px 0;
  text-decoration: none;
}

.page-title {
  font-size: 0.875rem;
  font-weight: normal;
  margin-bottom: 30px;
}




img {
  max-width: 100%;
  vertical-align: bottom;
}

/*ハンバーガーメニュー*/


#navi {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  color: #fff;
  padding: 36px 50px;
  transition: all 1.0s;
  z-index: 20;
  opacity: 0;
}

#navi a {
  color: #fff;
}

#navi li {
  margin-bottom: 14px;
}

/*
  ハンバーガーメニュー
  メニューが開いている時は、「left: 0;」「opacity: 1;」で
  画面左に表示する
  */
.open #navi {
  left: 0;
  opacity: 1;
}

.toggle_btn {
  width: 30px;
  height: 30px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 20;
}



/*ハンバーガーメニューの線の設定（メニューが閉じている時）*/
.toggle_btn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all 0.5s;
}


/*一本めの位置*/
.toggle_btn span:nth-child(1) {
  top: 10px;
}

/*二本め*/

.toggle_btn span:nth-child(2) {
  bottom: 10px;
}


/*ハンバーガー動き*/

.open .toggle_btn span {
  background-color: #fff;
}

.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(4px) rotate(-45deg);
  transform: translateY(4px) rotate(-45deg);
}


.open .toggle_btn span:nth-child(2) {
  -webkit-transform: translateY(-4px) rotate(45deg);
  transform: translateY(-4px) rotate(45deg);
}

#mask {
  display: none;
  transition: all 0.5s;
}

.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 8;
  z-index: 10;
  cursor: pointer;
}


#top {
  padding-top: 80px;
  padding-bottom: 160px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

.section-title {
  font-family: "norman-variable", sans-serif;
  font-variation-settings: 'wght' 400;
  font-size: 3rem;
  color: #333;
  text-align: left;
}

.section-title1 {
  font-family: "norman-variable", sans-serif;
  font-variation-settings: 'wght' 400;
  font-size: 1.5rem;
  color: #333;
  text-align: left;
  writing-mode: vertical-rl;
}

.product-list img {
  margin-bottom: 10px;
  vertical-align: top;
}

/*backtoProducts*/
.link-text {
  display: block;
  margin-top: 40px;
  text-align: center;
}



.product {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.product .section-title {
  font-weight: normal;
  line-height: 1;
}


#product1 .section-title {
  margin-left: 20px;
  writing-mode: vertical-lr;
}

#item {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-top: 100px;
}

#item .item-text {
  width: 42%
}



#item .item-text p {
  margin-bottom: 30px;
  text-align: justify;
}



.item-img {
  width: 50%;
  
}

.link {
  display: flex;
}

.video {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*-------------------------------------------
  COMPANY
  -------------------------------------------*/

.item-text1 {
  font-size: 1rem;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  line-height: 4;
  color: #000000;
  padding-top: 220px;
  padding-bottom: 175px;
}

iframe{
  width: 600px;
  height: 450px;
}

.map{
  display: flex;
  margin-top: 130px;
  margin-bottom: 60px;
  justify-content: space-evenly;
}

.SNS {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #000000;
  line-height: 40px;
  margin-top: 170px;
}



#footer {
  background-color: #ffffff;
  color: #000000;
  padding: 80px 80px 30px 30px;
}



#footer .copyright {
  font-size: 0.625rem;
  text-align: center
}

@media screen and (max-width: 900px) {
  

  .site-title{
    font-size: 1.75rem;
  }

  .section-title{
    font-size: 2rem;
  }

  #top{
    padding-top: 40px;
    padding-bottom: 0px;
  }


  /*-------------------------------------------
    TOP、PRODUCTS
    -------------------------------------------*/
  .section-title1 {
    font-size: 0.75rem;
    writing-mode: vertical-rl;

  }

  .product-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
  }

  /*-------------------------------------------
    ITEM
    -------------------------------------------*/
  #item {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
  }

  #item .item-text {
    width: 70%;
    
  }

  #item .item-img {
    width: 100%;
    margin-bottom: 30px;
  }

  /*-------------------------------------------
    COMPANY
    -------------------------------------------*/
  .item-text1{
    max-width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.75rem;
  }

  iframe{
    width: auto;
    height: auto;
  }

  .map{
    display: flex;
    flex-direction: column;
  }
  .SNS{
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    margin-top: 50px;
    align-items: center;
  }


  /*-------------------------------------------
    フッター
    -------------------------------------------*/
  #footer {
    flex-direction: column;
  }

  #footer .menu {
    margin-bottom: 5px;
  }

  .wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 5px;
  }
}