@charset "UTF-8";

/* CSS Document */




.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: #333;
    margin: 4px 0;
    border-radius: 2px;
}











.img1 {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}



.site-title {
    font-family: "norman-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    font-size: 2.5rem;
    color: #333;
    text-align: left;
    margin: 20px 0;
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
    z-index: 1000;
}

.site-header {
    display: flex;
    max-width: 960px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100px;
    padding: 0 4%;
}


nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    font-family: "norman-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #cbcbcb;
}

#profile {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 4%;
    margin-bottom: 70px;
}

#profile h2 {
    font-family: "norman-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    font-size: 2rem;
    margin-bottom: 100px;
    color: #333;
}

#profile p {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6;
    color: #555;
}


.content {
    display: flex;
    flex-direction: row;
}

.content img {
    width: 70%;
    height: auto;
    display: block;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 50px;
}

#profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.content-title {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #333;
    margin-bottom: 10px;
}






#contact {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 4%;
    margin-bottom: 100px;
}

#contact h2 {
    font-family: "norman-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    font-size: 2rem;
    margin-bottom: 100px;
    color: #333;
}

.SNS {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.SNS p {
    font-family: "norman-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    font-size: 1rem;
    color: #333;
    flex-shrink: 0;
    width: 80px;
    margin: auto;
    text-align: right;
}


.SNS a {
    font-style: normal;
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    margin: auto;
}




.site-footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f8f8f8;
    color: #333;
    font-family: "norman-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    font-size: 0.75rem;
}

footer .footer-nav {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
    margin-right: 130px;
}

.site-footer a {
    text-align: center;
    padding: 20px 0;
    background-color: #f8f8f8;
    color: #333;
    font-family: "norman-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    font-size: 0.75rem;
}

.sub-tittle {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    color: #333;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 40px;
}






.WORKS {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 4%;
}

.WORKS h2 {
    font-family: "norman-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    font-size: 1rem;
    margin-bottom: 40px;
    color: #333;
}




.WORKSS {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 4%;
}

.WORKSS h2 {
    font-family: "norman-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    font-size: 1rem;
    margin-bottom: 40px;
    color: #333;
}

.content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.content1 img {
    width: 70%;
    height: auto;
    border-radius: 10px;
}


.WORKSS-text {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    text-align: left;
}


.link-text {
    display: block;
    text-align: center;
    color: #333;
    font-family: "norman-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    font-size: 0.75rem;
    transition: color 0.3s ease;
}



/*Works Gallery*/


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    gap: 16px;
}

.gallery-item {
    text-align: center;
    background: white;
    padding: 10px;
    border-radius: 8px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.caption {
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 8px;
    font-size: 14px;
    color: #333;
}

/* スマホ用 */
@media screen and (max-width: 768px) {

    .site-header {
        display: flex;
        height: 85px;
    }

    .nav {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #ffffff;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.4s ease, opacity 0.3s ease;
        z-index: 500;
    }

    .nav.open {
        max-height: 300px;
        /* メニューの高さに合わせて調整 */
        opacity: 1;
    }

    .nav ul {
        flex-direction: column;
        padding: 1em;
    }

    .nav ul li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
        z-index: 1100;
        position: relative;
    }

    .content img {
        width: 70%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right:  auto;
    }

    .profile-text {
        font-size: 1rem;
        color: #333;
        margin-left: 20px;
    }

    footer .footer-nav {
        display: flex;
        justify-content: right;
        margin-bottom: 20px;
        margin-right: auto;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .WORKSS-text {
        font-family: "hiragino-kaku-gothic-pron", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 9px;
    }
}